{% extends 'fullLayout.html.twig' %}
{% block javascripts %}
    <script src="/js/complete.js"></script>
    <script src="/js/controller.js"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/complete.css" />
    <link rel="stylesheet" href="/css/body.css" />
{% endblock %}
{% block main %}
     {% verbatim %}
         <h1 class='page-header'><a href="{{feed.info.link}}" >{{feed.info.title}}</a></h1>
         <h2>{{feed.info.description}}</h2>
        
         <section ng-repeat="article in feed.articles"  class='panel panel-default'>
             <div class='panel-heading'>
                 
                <a href="{{article.link}}">{{article.title}}</a>
             </div>
             
            <div class='panel-body' ng-bind-html="article.content"></div>
            <div class="panel-footer">{{article.pubDate}}</div>
                
            </section>
    {% endverbatim %}
    
{% endblock %}
{% block navigation %}
    {% verbatim %}
        <ul class="nav nav-sidebar" role="navigation">
            <li ng-repeat="feed in feedlist.list" ng-class="{'active': feed.active}">
                <a ng-click="load(feed.url, $event)" href> {{feed.name}} </a>
            </li>
        </ul>
        
        <form type="get" ng-submit="feedlist.addFeed()">
            <input type="url" placeholder="add a new url" ng-model="feedlist.newUrl" /><input type="submit" value="add" />
        </form>
    {% endverbatim %}   
    
{% endblock %}
