{% extends 'fullLayout.html.twig' %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/js/controller.js"></script>
{% endblock %}
{% block main %}
     {% verbatim %}
         <h2><a href="{{feed.info.link}}" >{{feed.info.title}}</a></h2>
         <h3>{{feed.info.description}}</h3>
        <div>
            <ul>
                <li ng-repeat="article in feed.articles">
                    <h4><a href="{{article.link}}">{{article.title}}</a></h4>
                    <p>{{article.content}}</p>
                </li>
            </ul>
        </div>
    {% endverbatim %}
    
{% endblock %}
{% block navigation %}
    {% verbatim %}
        <ul>
            <li ng-repeat="feed in feedlist.list">
                <a ng-click="load(feed.name)" href> {{feed.title}} </a>
            </li>
        </ul>
        
        <form type="get" ng-submit="feedlist.addFeed()">
            <input type="url" placeholder="add a new url" ng-model="feedlist.newUrl" /><input type="submit" value="add" />
        </form>
    {% endverbatim %}
    
    
    
{% endblock %}
